* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--color);
  font-family: "Montserrat-Regular", sans-serif;
  transition: all ease in out 0.5s;
}

img,
video {
  max-width: 100%;
}

.sections {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.sections > div > div {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

#section1 > div > div * {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#section2 {
  background-color: #3c3c3c;
}

#section3 > div {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

#section3 > div > div {
  display: flex;
  justify-content: center;
  align-content: center;
}

#fooooooooooter {
  text-align: center;
}

#btnContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#btnContainer button {
  margin: 20px;
  background-color: pink;
  color: #fff;
  border-radius: 200px;
  padding: 10px 20px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5);
}

.active {
  background-color: gold !important
}
